@charset "UTF-8";
body {
	margin: o;
  	background: url("../img/fondo2.jpg"); 
 	position: relative;
 	padding-bottom: 8em;
 	min-height: 100vh;
}

h1{
	
	margin: auto;
	padding: 1rem;
	text-align: center;
}

.result {
	text-align: center;
}

/* FOOTER */

.mainFooter{
    display: grid;
    margin: auto;
    grid-template-columns: 48% 30% 20%;
    grid-template-rows: 15vh;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color:seashell;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.mainFooter img{
    width: 3vw;
    height: 3vw;
}
.sectionOneFooter{
    margin-left: -100px;
}
.sectionTwoFooter{

    display: flex;
}
.sectionThreeFooter{
    justify-self: center;
    
    margin-top: 30px;
    margin-right: 30px;
    font-size: 0.8rem; 
}
